.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-danger {
  color: var(--color-danger);
}

.error-label {
  margin: 5px 0 0 15px;
  color: var(--color-danger);
  font-size: small;
}
